In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('nonfix_regulation_1.0.txt', )
# df = pd.read_csv('regulation_1.0.txt', )
# df = pd.read_csv('backup.txt', )
def softmax(x):
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=0)
def sigmoid(x):
    return 1 / (1+np.exp(-x))
# df = df.apply(sigmoid, axis=1)
print(df.mean(axis=0))
print(df.std(axis=0))
df

#행공간과 영공간은 직교한다.
#iv를 FFN이 입력 받았을때 0벡터를 출력하는 공간의 의미가 무엇인가?

rand0      360.622089
BWT1.00    908.844777
dtype: float64
rand0      597.805970
BWT1.00    763.517496
dtype: float64

          rand0      BWT1.00
0   1728.299072   114.741150
1    114.524811  1671.763062
2     30.567032  1737.351807
3    209.368866   981.997070
4    186.219116   990.746338
5    260.059052     0.000000
6    137.246063  1937.178101
7     35.582409  2066.905762
8     38.795647  1266.949097
9     64.277176     0.527069
10    51.536621  1706.141113
11    24.204613     0.000000
12    25.263739    13.360880
13   187.787186  1011.768188
14   128.310608  1657.038818
15  1820.552734   367.160156
16   130.071808  1116.718994
17  1166.022217   904.798218
18    47.045391     1.411135
19    42.949547  1711.374634
20   101.488289     1.590944
21   313.296265     5.690622
22   225.474838   923.868164
23  1939.097168    30.960789
24   -52.914490     0.000000
25   202.839752  1634.431274
26   138.236206  1073.037109
27    17.661751  1736.535645
28  1535.570801   464.735901
29   -30.771624  2136.561279